<div class="dialog-content">
  <form [formGroup]="eventForm">
    <div class="form-group">
      <label for="employeeSelect">Doctor</label>
      <select
        id="employeeSelect"
        class="form-control large-input"
        formControlName="employeeId"
        aria-label="Default select example"
      >
      <option value="" hidden selected>Select the doctor</option>
        <option *ngFor="let employee of employeeList" [value]="employee.id">
          {{ employee.name }} {{ employee.surname }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="patientSelect">Patient</label>
      <select
        id="patientSelect"
        class="form-control large-input"
        formControlName="patientId"
      >
        <option value="" hidden selected>Select the patient</option>
        <option *ngFor="let patient of patientsList" [value]="patient.id">
          {{ patient.pesel }} - {{ patient.name }} {{ patient.surname }}
        </option>
      </select>
    </div>

    <div class="form-group large-input">
      <label id="start">Start date</label>
      <input
        matInput
        name="start"
        class="form-control"
        type="text"
        formControlName="startDate"
        mwlFlatpickr
        [altInput]="true"
        [convertModelValue]="true"
        [enableTime]="true"
        dateFormat="Y-m-dTH:i"
        altFormat="F j, Y H:i"
        placeholder="Pick a date"
      />
    </div>
    <div class="form-group large-input">
      <label id="end">End date</label>
      <input
        matInput
        name="end"
        class="form-control"
        formControlName="endDate"
        type="text"
        mwlFlatpickr
        [altInput]="true"
        [convertModelValue]="true"
        [enableTime]="true"
        dateFormat="Y-m-dTH:i"
        altFormat="F j, Y H:i"
        placeholder="Pick a date"
      />
    </div>
    <div class="form-group">
      <label for="eventTitle">Event title</label>
      <input
        id="eventTitle"
        type="text"
        class="form-control large-input"
        formControlName="title"
        placeholder="Add a title"
      />
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea
        type="text"
        class="form-control text-area"
        rows="3"
        formControlName="description"
        placeholder="Write a message"
      ></textarea>
    </div>
  </form>
</div>

<mat-dialog-actions align="end" class="fotter">
  <div>
    <button class="btn btn-outline-info" (click)="closeDialog()">Close</button>
  </div>
  <div class="button">
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="eventForm.invalid"
      (click)="onSubmit()"
    >
      Confirm
    </button>
  </div>
</mat-dialog-actions>
