.dialog-content{
  display: flex;
  padding-top: 12px;
  width: 500px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mat-mdc-dialog-actions {
  justify-content: space-between;
}
