<app-nav-bar [disableNavigation]="true"></app-nav-bar>
<div class="login-page">
  <div class="box">
    <div class="title">
      <span>Login</span>
    </div>
    <form [formGroup]="loginForm" class="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" formControlName="email" (input)="onFormInput()">
        <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched" class="alert alert-danger">
          <span *ngIf="loginForm.controls['email'].hasError('required')">Email is required.</span>
          <span *ngIf="loginForm.controls['email'].hasError('email')">Invalid email format.</span>
        </div>
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" formControlName="password" (input)="onFormInput()">
        <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" class="alert alert-danger">
          <span *ngIf="loginForm.controls['password'].hasError('required')">Password is required.</span>
        </div>
      </div>

        <div class="credentials-error" *ngIf="!isUserExists">
          <div>
            <span>Wrong email or password!</span>
          </div>
        </div>

      <div class="button">
        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
      </div>
    </form>
  </div>
</div>
