.login-page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  height: 300px;
  width: 350px;
  background-color: white;
  border: 5px black;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;

  .button {
    display: flex;
    justify-content: center;
  }
}

.title {
  padding-bottom: 25px;

  span {
    font-size: xx-large;
  }
}
