<div class="register-page">
  <div class="box">
    <div class="title">
      <span>Register</span>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form">
        <div class="login-info">
          <div *ngFor="let field of loginFormFields">
            <mat-form-field [class]="field.class" appearance="outline">
              <mat-label>{{ field.label }}</mat-label>
              <input
                type="{{ field.type }}"
                matInput
                [formControlName]="field.controlName"
                [autocomplete]="field.autocomplete"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="address-info" formGroupName="address">
          <div *ngFor="let field of mockAddressformFields">
            <mat-form-field [class]="field.class" appearance="outline">
              <mat-label>{{ field.label }}</mat-label>
              <input
                type="{{ field.type }}"
                matInput
                [formControlName]="field.controlName"
                [autocomplete]="field.autocomplete"
              />
            </mat-form-field>
          </div>
          <mat-form-field class="state" appearance="outline">
            <mat-label>State</mat-label>
            <mat-select formControlName="state">
              <mat-option *ngFor="let state of stateList" [value]="state">{{
                state
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="button">
        <button
          mat-raised-button
          type="submit"
          [disabled]="registerForm.invalid"
        >
          Confirm
        </button>
      </div>
    </form>
  </div>
</div>
