@import './../../../../assets/scss/variables';

:host ::ng-deep .mat-mdc-form-field-subscript-wrapper {
  height: 0;
}

.register-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-alternative);
}

.box {
  height: fit-content;
  width: 550px;
  background-color: var(--background-standard);
  box-shadow: var(--box-shadow);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 500px;

  .login-info {
    display: flex;
    margin-bottom: auto;
    flex-direction: column;
  }

  input {
    color: var(--text-color);
  }

  mat-form-field {
    padding-bottom: $xlarge-spacing;
  }

  mat-error span {
    position: absolute;
  }
}

.title {
  padding-bottom: 25px;

  span {
    font-size: xx-large;
  }
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
