<div class="user-info-card" mat-dialog-content>
  <div class="card-content">
    <tabset [justified]="true">
      <tab heading="{{ 'PERSONAL_INFO' | translate }}">
        <div class="personal-info">
          <h3>{{ 'PERSONAL_INFO' | translate }}</h3>
          <div>
            <h6>{{ 'FULL_NAME' | translate }}</h6>
            <span>{{ userProfile?.name }} {{ userProfile?.surname }}</span>
          </div>
          <div>
            <h6>{{ 'EMAIL' | translate }}</h6>
            <span>{{ userProfile?.contact_email }}</span>
          </div>
          <div>
            <h6>{{ 'ADDRESS' | translate }}</h6>
            <span>{{ userProfile?.address }}</span>
          </div>
          <div>
            <h6>{{ 'STATE' | translate }}</h6>
            <span>{{ 'ADD_STATE' | translate }}</span>
          </div>
          <div>
            <h6>{{ 'PHONE' | translate }}</h6>
            <span>{{ userProfile?.phoneNumber }}</span>
          </div>
          <div>
            <h6>{{ 'PESEL' | translate }}</h6>
            <span>{{ userProfile?.pesel }}</span>
          </div>
        </div>
        <div class="medical-info">
          <h3>{{ 'MEDICAL_INFORMATION' | translate }}</h3>
          <div>
            <h6>{{ 'BLOOD_GROUP' | translate }}</h6>
            <span>{{ userProfile?.bloodGroup }}</span>
          </div>
          <div>
            <h6>{{ 'GENDER' | translate }}</h6>
            <span>{{ userProfile?.gender }}</span>
          </div>
          <div>
            <h6>{{ 'BMI' | translate }}</h6>
            <span>{{ 'ADD_INFO' | translate }}</span>
          </div>
          <div>
            <h6>{{ 'CHRONIC_DISEASES' | translate }}</h6>
            <span>{{ 'ADD_INFO' | translate }}</span>
          </div>
        </div>
      </tab>
      <tab heading="{{ 'ACTIVE_APPOINTMENTS' | translate }}">
        <div class="user-appointments">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container
              matColumnDef="{{ column }}"
              *ngFor="let column of appointmentsColumns"
            >
              <th mat-header-cell *matHeaderCellDef>
                {{ column | translate | titlecase }}
              </th>
              <td mat-cell *matCellDef="let appointment">
                <ng-container
                  *ngIf="
                    column === 'start' || column === 'end';
                    else otherColumn
                  "
                >
                  {{ appointment[column] | date : 'yyyy-MM-dd HH:mm:ss' }}
                </ng-container>
                <ng-template #otherColumn>
                  {{ appointment[column] }}
                </ng-template>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="appointmentsColumns"></tr>
            <tr
              mat-row
              *matRowDef="
                let user;
                columns: appointmentsColumns;
                let i = dataIndex
              "
              class="user-row"
              [class.odd-row]="i % 2"
              [class.even-row]="!(i % 2)"
            ></tr>
          </table>
        </div>
      </tab>
      <tab heading="{{ 'DOCUMENTATION' | translate }}">
        <div></div>
      </tab>
    </tabset>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button class="btn btn-outline-info" mat-dialog-close>
    {{ 'CLOSE' | translate }}
  </button>
</div>
