@import '../../../assets/scss/variables';

.mat-elevation-z8 {
  box-shadow: none;
  border-bottom: 1px solid rgb(209, 209, 209); // color to change
}

.user-info-card {
  width: 700px;
  height: 800px;
  padding: 0;
}

h3 {
  display: flex;
  justify-content: center;
  color: black;
  margin-top: $xlarge-spacing;
}

.personal-info,
.medical-info {
  // h3 {
  //   margin-left: $large-spacing;
  // }

  div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: $xlarge-spacing;

    h6 {
      color: black;
      margin: 0;
      margin-right: $spacing;
      font-weight: bold;
    }

    span {
      font-size: 1rem;
    }
  }
}

.mdc-dialog__actions {
  button {
    margin-left: $small-spacing;
  }
}
