<div class="dialog-content">
  <form [formGroup]="eventForm">
    <div class="form-group">
      <label for="employee-select">Doctor</label>
      <select
        id="employee-select"
        class="form-control large-input"
        formControlName="employeeId"
        aria-label="Default select example"
      >
        <option value="" hidden selected>Select the doctor</option>
        <option *ngFor="let doctor of doctorsList" [value]="doctor.id">
          {{ doctor.profile.name }} {{ doctor.profile.surname }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="reason-select">Select absent reason</label>
      <select
        id="reason-select"
        class="form-control large-input"
        formControlName="title"
      >
        <option *ngFor="let reason of absentReasons" [value]="reason">
          {{ reason }}
        </option>
      </select>
    </div>
    <div class="form-group large-input">
      <label id="start">Start date</label>
      <input
        matInput
        name="start"
        class="form-control"
        type="text"
        formControlName="start"
        mwlFlatpickr
        minDate="today"
        [altInput]="true"
        [convertModelValue]="true"
        [enableTime]="true"
        dateFormat="Y-m-dTH:i"
        altFormat="F j, Y H:i"
        placeholder="Pick a date"
      />
    </div>
    <div class="form-group large-input">
      <label id="end">End date</label>
      <input
        matInput
        name="end"
        class="form-control"
        formControlName="end"
        type="text"
        mwlFlatpickr
        minDate="today"
        [altInput]="true"
        [convertModelValue]="true"
        [enableTime]="true"
        dateFormat="Y-m-dTH:i"
        altFormat="F j, Y H:i"
        placeholder="Pick a date"
      />
    </div>
  </form>
</div>

<mat-dialog-actions align="end" class="fotter">
  <div>
    <button class="btn btn-outline-info" (click)="closeDialog()">Close</button>
  </div>
  <div class="button">
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="eventForm.invalid"
      (click)="onSubmit()"
    >
      Confirm
    </button>
  </div>
</mat-dialog-actions>
