@import './../../../../assets/scss/variables';

table {
  width: 50%;
  background: var(--background-alternative);
}

tr.detail-row {
  height: 0;
}

tr.user-row:not(.expanded-row):hover {
  background: var(--hover-color);
}

tr.user-row:not(.expanded-row):active {
  background: var(--background-standard);
}

.user-row td {
  border-bottom-width: 0;
}

.row-expanded {
  width: 100%;
}

.user-detail {
  overflow: hidden;
  display: flex;
}

.table {
  width: 50%;
  background-color: var(--background-standard);
  padding: 50px;
  border-radius: 10px;
}

.patients-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
}

.adress-info {
  padding-left: 12px;
  b {
    font-weight: $font-weight-medium;
  }
}

.user-appointments {
  max-height: 200px;
  margin-bottom: 25px;
  overflow: auto;
  .appointment-row {
    display: flex;
    flex-direction: column;
    padding-bottom: $medium-spacing;
  }
}
