<div class="patients-container">
  <div class="table">
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input
        matInput
        (keyup)="tableFilter($event)"
        #input
      />
    </mat-form-field>

    <table
      mat-table
      [dataSource]="dataSource"
      multiTemplateDataRows
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="{{ column }}" *ngFor="let column of columns">
        <th mat-header-cell *matHeaderCellDef>{{ column | titlecase }}</th>
        <td mat-cell *matCellDef="let user">{{ user[column] }}</td>
      </ng-container>
      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">
          &nbsp;
        </th>
        <td mat-cell *matCellDef="let user">
          <button
            mat-icon-button
            aria-label="expand row"
            (click)="
              expandedUser = expandedUser === user ? null : user;
              $event.stopPropagation()
            "
          >
            <mat-icon *ngIf="expandedUser !== user"
              >keyboard_arrow_down</mat-icon
            >
            <mat-icon *ngIf="expandedUser === user"
              >keyboard_arrow_up</mat-icon
            >
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let user"
          [attr.colspan]="columnsExpand.length"
        >
          <div
            class="user-detail"
            [@detailExpand]="
              user == expandedUser ? 'expanded' : 'collapsed'
            "
          >
            <div class="row-expanded">
              {{ user | json }}
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsExpand"></tr>
      <tr
        mat-row
        *matRowDef="let user; columns: columnsExpand"
        class="user-row"
        [class.example-expanded-row]="expandedUser === user"
        (click)="expandedUser = expandedUser === user ? null : user"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="detail-row"
      ></tr>
    </table>
  </div>
</div>
