<div class="navbar">
  <div class="brand">
    <p>OneClickClinic</p>
  </div>
  <ul class="nav" *ngIf="!disableNavigation">
    <li>
      <a href="#about" class="nav-link">O nas</a>
    </li>
    <li>
      <a href="#offer" class="nav-link">Oferta</a>
    </li>
    <li>
      <a href="#price-list" class="nav-link">Cennik</a>
    </li>
    <li>
      <a href="#contact" class="nav-link">Kontakt</a>
    </li>
  </ul>
  <div class="buttons">
    <button
      mat-fab
      color="accent"
      routerLink="/login"
      *ngIf="!disableNavigation; else elseBlock"
    >
      <mat-icon>login</mat-icon>
    </button>
    <ng-template #elseBlock>
      <button mat-fab color="accent" routerLink="/home">
        <mat-icon>home</mat-icon>
      </button></ng-template
    >
    <mat-slide-toggle
      #darkModeSwitch
      (change)="toggleTheme()"
    ></mat-slide-toggle>
  </div>
</div>
