<div class="navbar">
  <div class="brand">
    <p routerLink="/home">OneClickClinic</p>
  </div>
  <ul class="nav" *ngIf="!disableNavigation">
    <li>
      <a href="#about" class="nav-link">{{ 'ABOUT_US' | translate }}</a>
    </li>
    <li>
      <a href="#offer" class="nav-link">{{ 'OFFER' | translate }}</a>
    </li>
    <li>
      <a href="#price-list" class="nav-link">{{ 'PRICE_LIST' | translate }}</a>
    </li>
    <li>
      <a href="#contact" class="nav-link">{{ 'CONTACT' | translate }}</a>
    </li>
  </ul>
  <div class="buttons">
    <button
      class="btn btn-primary"
      routerLink="/login"
      *ngIf="!disableNavigation"
    >
      {{ 'LOGIN' | translate }}
    </button>
  </div>
  <!-- <mat-slide-toggle
      #darkModeSwitch
      [checked]="isDarkMode"
      (change)="toggleTheme()"
    ></mat-slide-toggle> -->
</div>
