@import './../../../../assets/scss/variables';

.mat-mdc-table .mdc-data-table__row {
  border-color: lightgray;
}

.mat-mdc-table .mdc-data-table__header-row {
  background-color: rgb(226, 225, 225); // to change
}

table {
  width: 50%;
  background: white;
  box-shadow: none;
}

tr.detail-row {
  height: 0;
}

tr.user-row:not(.expanded-row):hover {
  background: var(--hover-color);
}

tr.user-row:not(.expanded-row):active {
  background: var(--background-standard);
}

.user-row td {
  border-bottom-width: 0;
}

.row-expanded {
  width: 100%;
}

.user-detail {
  overflow: hidden;
  display: flex;
}

.table-header {
  background-color: rgb(255, 255, 255);
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  align-items: center;
  padding-bottom: 32px;

  mat-form-field {
    padding: 20px 0 0 10px;
  }
}

.add-patient-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;

  h4 {
    padding-right: 12px;
  }
}

.table {
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.patients-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
}

.user-table {
  width: 90%;
  padding: 24px 32px;
  border-radius: 8px;
  box-shadow: 0px 12px 26px 0px rgba(16, 30, 115, 0.06);
}

.adress-info {
  padding-left: 12px;
  b {
    font-weight: $font-weight-medium;
  }
}

.user-appointments {
  max-height: 300px;
  margin-bottom: 25px;
  overflow: auto;
  .appointment-row {
    display: flex;
    flex-direction: column;
    padding-bottom: $medium-spacing;
  }
}

.appointments-table {
  background-color: lightgray;
}
