<div class="file-upload" [ngClass]="{ 'drag-over': isDragging }">
  <input
    type="file"
    id="fileInput"
    (change)="handleFileInput($event)"
    style="display: none"
  />
  <div
    class="form-group"
    class="drop-area"
    (dragover)="handleDragOver($event)"
    (dragleave)="handleDragLeave($event)"
    (drop)="handleDrop($event)"
  >
    <div class="hint">
      <mat-icon>upload_file</mat-icon>
      <span><b (click)="browseFiles()">Choose a file</b> or drop it here</span>
    </div>
  </div>
</div>
