<div class="side-nav">
  <div class="user-info">

  </div>
  <div class="navigation">
    <button mat-raised-button color="primary" (click)="changeRoute('appointments')">Appointments</button>
    <button mat-raised-button color="primary" (click)="changeRoute('patients')">Patients</button>
    <button mat-raised-button color="primary">test test</button>
    <button mat-raised-button color="primary">test</button>
  </div>
  <div class="footer">
    <button mat-raised-button color="primary" routerLink="/home">Log out</button>
  </div>
</div>

