<div class="side-nav">
  <div class="user-block">
    <div class="user-photo">
      <img src="./../../../assets/img/avatars/frog.jpg" alt="" />
    </div>
    <div class="user-info">
      <span>{{ userInfo?.userName | titlecase }}</span>
      <p>{{ userInfo?.email }}</p>
    </div>
  </div>
  <div class="navigation">
    <div *ngFor="let section of sectionsList" class="section-button">
      <button
        mat-button
        (click)="changeRoute(section.route)"
        [ngClass]="{ active: currentRoute === '/dashboard/' + section.route }"
      >
        <mat-icon>{{ section.icon }}</mat-icon
        ><span>{{ section.label }}</span>
      </button>
    </div>
  </div>
  <div class="footer">
    <button class="btn btn-info custom-button">
      <mat-icon>settings</mat-icon>Settings
    </button>
    <button
      class="btn btn-danger custom-button"
      routerLink="/home"
      (click)="logOut()"
    >
      <mat-icon>logout</mat-icon>Log out
    </button>
  </div>
</div>
