<div class="analytics-container">
  <div class="header-widgets">
    <div *ngFor="let widget of statsWidgets">
      <div class="stat-widget">
        <mat-icon class="icon">{{ widget.icon }}</mat-icon>
        <div class="description">
          <span>
            {{ widget.description }}
          </span>
          <span>{{ widget.count }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="slots-graph">
    <h4>Available slots</h4>
    <canvas id="slotsChart">{{ slotsChart }}</canvas>
  </div>
  <div class="age-chart">
    <h4>Patients age</h4>
    <canvas id="ageChart">{{ ageChart }}</canvas>
  </div>
  <div class="patients-chart">
    <h4>Patients count</h4>
    <canvas id="patientsCountChart">{{ patientsCountChart }}</canvas>
  </div>
</div>
