@import './../../../../assets/scss/variables';

:host ::ng-deep .mat-mdc-form-field-subscript-wrapper {
  height: 0;
}

.login-page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-alternative);
}

.box {
  background-color: var(--background-standard);
  box-shadow: $box-shadow;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;

  .button {
    margin-top: $large-spacing;
    display: flex;
    justify-content: center;

    button {
      background-color: var(--primary-color);
    }

    button:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    span {
      color: white;
    }
  }

  input {
    color: var(--text-color);
  }
}

.title {
  padding-bottom: 25px;

  span {
    font-size: xx-large;
  }
}

.bottom-text {
  margin-top: 20px;
}

.credentials-error {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  span {
    color: var(--error-color);
  }
}

.error {
  border: 1px solid var(--error-color);
}
