<div class="patients-container" *ngIf="!isLoading">
  <div class="table-header">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="tableFilter($event)" #input />
      </mat-form-field>
    </div>
    <div class="add-patient-button">
      <h4>Add new Employee</h4>
      <button mat-fab color="primary" (click)="addNewEmployee()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="table">
    <table
      mat-table
      [dataSource]="dataSource"
      multiTemplateDataRows
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="{{ column }}" *ngFor="let column of columns">
        <th mat-header-cell *matHeaderCellDef>{{ column | titlecase }}</th>
        <td mat-cell *matCellDef="let user">{{ user[column] }}</td>
      </ng-container>
      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">
          &nbsp;
        </th>
        <td mat-cell *matCellDef="let user">
          <button
            mat-icon-button
            aria-label="expand row"
            (click)="
              expandedUser = expandedUser === user ? null : user;
              $event.stopPropagation()
            "
          >
            <mat-icon *ngIf="expandedUser !== user"
              >keyboard_arrow_down</mat-icon
            >
            <mat-icon *ngIf="expandedUser === user">keyboard_arrow_up</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let user"
          [attr.colspan]="columnsExpand.length"
        >
          <div
            class="user-detail"
            [@detailExpand]="user == expandedUser ? 'expanded' : 'collapsed'"
          >
            <div class="row-expanded">
              <div class="user-appointments" *ngIf="user.appointments">
                <h3>Active appointments:</h3>
                <table
                  mat-table
                  [dataSource]="user.appointments"
                  class="appointments-table"
                >
                  <mat-text-column name="title"></mat-text-column>
                  <mat-text-column name="start"></mat-text-column>
                  <mat-text-column name="end"></mat-text-column>

                  <tr
                    mat-header-row
                    *matHeaderRowDef="appointmentsColumns"
                  ></tr>
                  <tr
                    mat-row
                    *matRowDef="let row; columns: appointmentsColumns"
                  ></tr>
                </table>
              </div>
              <div *ngIf="!user.appointments">
                No active appointments
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsExpand"></tr>
      <tr
        mat-row
        *matRowDef="let user; columns: columnsExpand; let i = dataIndex"
        class="user-row"
        [class.odd-row]="i % 2"
        [class.even-row]="!(i % 2)"
        [class.expanded-row]="expandedUser === user"
        (click)="expandedUser = expandedUser === user ? null : user"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="detail-row"
      ></tr>
    </table>
  </div>
</div>
